* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 320px;
  height: 400px;
  background: crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  width: 93%;
  height: 78px;
  background: rgb(61, 60, 60);
  margin: 10px;
  color: white;
  padding: 17px 10px;
  font-size: 23px;
  display: flex;
  font-weight: bold;
}

.output1,
.output2,
.output3 {
  padding: 3px;
}

.buttons {
  width: 93%;
  display: grid;
  justify-content: center;
}

input[type="button"] {
  padding: 14px 26px;
  margin: 6px 3px;
  font-weight: 700;
  font-size: 17px;
  border: none;
  outline: none;
}

input[type="button"]:active {
  background: crimson;
  color: #fff;
}

#equal {
  width: 97%;
  color: white;
  background: rgb(61, 60, 60);
}
